@use "color";
@use "breakpoints" as *;

// body
body {
  @include mq {
    letter-spacing: 0.05em;
    color: #3c301e;
  }
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(241, 238, 228, 0.25);
  width: 100%;
  text-align: center;
  padding: 12px;

  &-logo {
    width: 200px;
    margin: 0 auto;
    @include mq {
      margin: 0;
    }
  }
  &-inner {
    @include mq {
      max-width: 1080px;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      margin: 0 auto;
    }
  }

  &-nav {
    margin-top: 10px;

    &-link {
      color: #ffffff;
      @include mq {
        transition: opacity 0.3s;
      }
    }
    &-list {
      display: flex;
      justify-content: center;
      gap: 25px;
      @include mq {
        gap: 40px;
      }
    }

    /* slidtoggle */
    &-toggle {
      position: relative;
    }

    &-sub-list {
      /* flex-direction: column;  */
      position: absolute;
      color: #f9f4f4;
      font-size: 12px;
      background-color: rgba(65, 63, 63, 0.387);
      padding: 8px 5px;
      display: none;
      top: 100%;
      /* topが合わない・・・・ */
      width: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @include mq {
    padding: 16px;
  }
}

.drawer__menu {
  display: flex;
  padding: 3px;
  justify-content: center;
}

/* 共通クラス */
.inner {
  padding: 0 40px;
  @include mq {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;

  &-main {
    display: block;
    font-size: 40px;
    @include mq {
      font-size: 64px;
    }
  }
  &-sub {
    display: block;
    font-size: 12px;
  }
  &-l {
    color: #fff;
  }
}
/* fv */

.fv-picture img {
  width: 100%;
}
/* About */
.about {
  background-color: #f1eee4;
  padding: 40px 0;
  @include mq {
    padding: 100px 0;
  }
  &-contents {
    @include mq {
      display: flex;
      gap: 40px;
      align-items: center;
    }
  }
  &-img {
    @include mq {
      width: 300px;
    }
  }
  &-text {
    @include mq {
      font-size: 15px;
    }
    &-contents {
      @include mq {
        margin-top: 0;
      }
    }
  }
}

.about-text-contents {
  margin-top: 20px;
}
.about-text {
  line-height: 2;

  & + & {
    margin-top: 16px;
    @include mq {
      margin-top: 30px;
    }
  }
}
/* Menu */
.menu {
  background-color: #f1eee4;
  padding: 80px 0;
  @include mq {
    padding: 0 0 100px;
  }
  &-img {
    cursor: pointer;
  }
  &-list {
    @include mq {
      display: flex;
      gap: 20px;
    }
  }

  &-text-contents {
    text-align: center;
    padding: 16px 10px;
  }

  &-name-main {
    font-size: 18px;
    display: block;
  }
  &-name-sub {
    color: color.$color-accent;
    font-size: 12px;
    margin-top: 8px;
    display: block;
  }
  &-text {
    color: color.$color-accent;
    font-size: 14px;
    margin-top: 16px;
  }
  &-item {
    & + & {
      margin-top: 62px;
      @include mq {
        margin-top: 0;
      }
    }
  }
}

/* オーバーレイ背景 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}
/* オーバーレイimg */
.overlay-img {
  width: 70vw;
  max-height: 70vh;
  object-fit: contain; /* はみ出し防止 */
  max-width: 90%;
}

/* shop */
.shop {
  background-image: url(../img/sp/bg-shop.png);
  background-position: center center;
  background-size: cover;
  padding: 80px 0;
  @include mq {
    background-image: url(../img/bg-shop.png);
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding: 60px 0;
  }
}
.shop-inner {
  padding: 0 20px;
  @include mq {
    max-width: 600px;
    margin: 0 auto;
  }
}

.shop-text {
  text-align: center;
  line-height: 2;
  font-size: 14px;
  color: #fff;
}
.form {
  margin-top: 40px;
  @include mq {
    display: flex;
    gap: 20px;
  }
}
.form-input {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 14px;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
}
.form-submit {
  border-radius: 4px;
  border: none;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  display: block;
  width: 120px;
  padding: 12px 10px;
  margin: 10px auto 0;
  background-color: color.$color-accent;
  color: #fff;
  @include mq {
    margin-top: 0;
    transition: opacity 0 3s;
  }
}
.form-submit:hover {
  @include mq {
    opacity: 0.7;
    cursor: pointer;
  }
}

/* topへ戻るボタン */
.gotop {
  position: absolute;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: normal;
  display: none;
  /* 丸くする */
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
/* footer */
.footer {
  background-color: #3c301e;
  text-align: center;
  color: #fff;
  padding-top: 46px;
  position: relative;

  &-logo {
    width: 200px;
    margin: 0 auto;
  }
  &-text {
    font-size: 12px;
    @include mq {
      margin-top: 12px;
    }
  }
  &-nav-list {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 20px;
    @include mq {
      gap: 40px;
    }
  }

  &-nav-item-text {
    margin-top: 12px;
    font-size: 12px;
  }
}
.sns-img {
  width: 56px;
}

/* コピーライト */
.footer-copy-wrapper {
  border-top: 1px solid rgba(241, 238, 228, 0.25);
  margin-top: 46px;
  padding: 12px;
}
.footer-copylight {
  font-size: 12px;
  @include mq {
    font-size: 13px;
  }
}
