body {
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  color: #3c301e;
}
img {
  width: 100%;
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(241, 238, 228, 0.25);
  width: 100%;
  text-align: center;
  padding: 12px;
}
.header-logo {
  width: 200px;
  margin: 0 auto;
}
.header-nav {
  margin-top: 10px;
}

.header-nav-link {
  color: #ffffff;
}
.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

/* slidtoggle */
.header-nav-toggle {
  position: relative;
}

.header-nav-sub-list {
  /* flex-direction: column;  */
  position: absolute;
  color: #f9f4f4;
  font-size: 12px;
  background-color: rgba(65, 63, 63, 0.387);
  padding: 8px 5px;
  display: none;
  top: 100%;
  /* topが合わない・・・・ */
  width: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.drawer__menu {
  display: flex;
  padding: 3px;
  justify-content: center;
}

/* 共通クラス */
.inner {
  padding: 0 40px;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}
.section-heading-main {
  display: block;
  font-size: 40px;
}
.section-heading-sub {
  display: block;
  font-size: 12px;
}

/* fv */

.fv-picture img {
  width: 100%;
}
/* About */
.about {
  background-color: #f1eee4;
  padding: 40px 0;
}
.about-contents {
}
.about-text-contents {
  margin-top: 20px;
}
.about-text + .about-text {
  margin-top: 16px;
}
.about-text {
  line-height: 2;
}
/* Menu */
.menu {
  background-color: #f1eee4;
  padding: 80px 0;
}
.menu-img {
  cursor: pointer;
}

/* オーバーレイ背景 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}
/* オーバーレイimg */
.overlay-img {
  width: 70vw;
  max-height: 70vh;
  object-fit: contain; /* はみ出し防止 */
  max-width: 90%;
}

.menu-text-contents {
  text-align: center;
  padding: 16px 10px;
}

.menu-name-main {
  font-size: 18px;
  display: block;
}
.menu-name-sub {
  color: #a98c5f;
  font-size: 12px;
  margin-top: 8px;
  display: block;
}
.menu-text {
  color: #a98c5f;
  font-size: 14px;
  margin-top: 16px;
}
.menu-item + .menu-item {
  margin-top: 62px;
}
/* shop */
.shop {
  background-image: url(../img/sp/bg-shop.png);
  background-position: center center;
  background-size: cover;
  padding: 80px 0;
}
.shop-inner {
  padding: 0 20px;
}
.section-heading-l {
  color: #fff;
}
.shop-text {
  text-align: center;
  line-height: 2;
  font-size: 14px;
  color: #fff;
}
.form {
  margin-top: 40px;
}
.form-input {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 14px;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
}
.form-submit {
  border-radius: 4px;
  border: none;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  display: block;
  width: 120px;
  padding: 12px 10px;
  margin: 10px auto 0;
  background-color: #a98c5f;
  color: #fff;
}
/* footer */
.footer {
  background-color: #3c301e;
  text-align: center;
  color: #fff;
  padding-top: 46px;
  position: relative;
}
/* topへ戻るボタン */
.gotop {
  position: absolute;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: normal;
  display: none;
  /* 丸くする */
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.footer-logo {
  width: 200px;
  margin: 0 auto;
}
.footer-text {
  font-size: 12px;
}
.footer-nav-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0 20px;
}
.footer-nav-item {
}
.footer-nav-item-text {
  margin-top: 12px;
  font-size: 12px;
}
.sns-img {
  width: 56px;
}

/* コピーライト */
.footer-copy-wrapper {
  border-top: 1px solid rgba(241, 238, 228, 0.25);
  margin-top: 46px;
  padding: 12px;
}
.footer-copylight {
  font-size: 12px;
}
/* タブレットPCサイズの表示 */ /* タブレットPCサイズの表示 */ /* タブレットPCサイズの表示 */
/* タブレットPCサイズの表示 */
@media screen and (min-width: 768px) {
  body {
    letter-spacing: 0.05em;
    color: #3c301e;
  }
  /* header */
  .header {
    padding: 16px;
  }
  .header-logo {
    margin: 0;
  }
  .header-inner {
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0 auto;
  }
  .header-nav-list {
    gap: 40px;
  }
  .header-nav-link {
    transition: opacity 0.3s;
  }
  .header-nav-link:hover {
    opacity: 0.7;
  }
  .inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
  }
  .section-heading-main {
    font-size: 64px;
  }
  /* About */
  .about {
    padding: 100px 0;
  }
  .about-contents {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .about-img {
    width: 300px;
  }
  .about-text {
    font-size: 15px;
  }
  .about-text-contents {
    margin-top: 0;
  }

  .about-text + .about-text {
    margin-top: 30px;
  }
  /* Menu */

  .menu {
    padding: 0 0 100px;
  }
  .menu-list {
    display: flex;
    gap: 20px;
  }
  .menu-item + .menu-item {
    margin-top: 0;
  }
  /* Shop */
  .shop {
    background-image: url(../img/bg-shop.png);
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding: 60px 0;
  }
  .shop-inner {
    max-width: 600px;
    margin: 0 auto;
  }

  .form {
    display: flex;
    gap: 20px;
  }
  .form-submit {
    margin-top: 0;
    transition: opacity 0.3s;
  }

  .form-submit:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  /* footer */
  .footer-text {
    margin-top: 12px;
  }
  .footer-nav-list {
    gap: 40px;
  }
  /* copylight */
  .footer-copylight {
    font-size: 13px;
  }
}
